{% extends 'layout/base.html'%}

{% load static %}



    <title>{% block title%}education{%endblock%}</title>
 </script>
</head>


<body >
    <header>
        {% include 'layout/partial/header.html' %}
    </header>

    {% block body  %}



 <!-- Content Start -->
        <div style= "padding:5%">
            <!-- Navbar Start -->

            <!-- Navbar End -->

            <div>
                <div class="text-center my-5" style=" color: #258baf">
                    <h1 class="fw-bolder">Bienvenue sur la page de l' Education!</h1>

                </div>
            </div>




            <!-- Footer End -->
        </div>

    </div>

    <!-- JavaScript Libraries -->

    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <script src=" {% static 'lib/easing/easing.min.js '%}"></script>
    <script src=" {% static 'lib/waypoints/waypoints.min.js '%}"></script>
    <script src=" {% static 'lib/owlcarousel/owl.carousel.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/moment-timezone.min.js '%}"></script>
    <script src=" {% static 'lib/tempusdominus/js/tempusdominus-bootstrap-4.min.js '%}"></script>

    <!-- Template Javascript -->
    <!-- script src=" {% static 'js/main.js '%}"></script-->

<!-- diagramme-->




</html>
<div class="col-sm-12"><div style="width: 100%; height: 100%; display: flex; justify-items: center;">
<iframe title="EducationIGT" src="https://app.powerbi.com/view?r=eyJrIjoiMDk0MTU0Y2ItYWJkYy00ZDBhLTgyNmYtNWE0NTMwNTkxMWNhIiwidCI6ImJmZTY0YzY0LWIwY2UtNDJiZC04MDlhLWE4ODlhMjJhZGQwOSJ9" allowfullscreen="" width="2000" height="650" frameborder="0"></iframe> {% endblock %}
</div>
    <footer>
        {% include 'layout/partial/footer.html' %}
    </footer>
</body>





