{% extends 'layout/base.html'%}

{% load static %}

{% block title%}Search||{% endblock%}

{% block body%}
<div>
    <h1 class="text-center">{{message}} </h1>
</div>
<div class="container">
<div class="row row-cols-md-3 row-cols-sm-2">
    {% for post in posts %}
    <div class="col">
    <div class="card mb-4 shadow" style="width: 18rem;">
        {% if post.image %}
        <img src="{{ post.image.url }}" class="card-img-top"  width:"200px" alt="...">
        {% endif%}
        <div class="card-body">
            <h5 class="card-title">{{post.title}}</h5>
            <p class="card-text">{{post.content|truncatechars:"100"}}</p>
            <a href="{% url 'posts:detail' post.id %}" class="btn btn-primary">Savoir plus</a>
            {% if post.user == request.user %}
            <a href="{% url 'posts:update_post' post.id %}" class="btn btn-info">Update</a>
            <a href="{% url 'posts:delete_post' post.id %}" class="btn btn-danger">Delete</a>
        
            {% endif%}
        </div>
        <div class="card-footer">
            {{ post.user.username }}
        </div>        
        

    </div>
</div>
    {% endfor%}
</div>
</div>
{% endblock %}