{% extends 'layout/base.html'%}

{% load static %}

{% block title%}update_post{% endblock%}
{% block body%}
<h1>{{post}}</h1>


<h1>New post</h1>
<div class="container">
    <div class="row">
        <div class="col-md-8 mx-auto">
            <form action="" method="post" enctype = "multipart/form-data">
                {% if form.subject.errors %}
                    {% for error in form.subject.errors%}
                        <p class="text-danger"><strong>{{ error }}</strong></p>
                    {% endfor %}
                {% endif%}
                {% csrf_token%}
                {% for field in form %}
                <div class="form-group">
                    {{ field.label_tag}}
                    {{ field}}
                    {% if field.help_text %}
                    <p class="help">{{ field.help_text}}</p>
                    {% endif %}
                   
                </div>
                {% endfor%}
                <img class="mb-3" src="{{ post.image.url}}"width="200"><br>
                <input type="submit" class="btn btn-primary" value="Update">
            </form>

            
        </div>
    
    </div>
    
</div>


{% endblock%}