{% extends 'layout/base.html'%}

{% load static %}


<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <title>{% block title%}DimAgroCulture{%endblock%}</title>
 </script>
</head>

    
<body >
    <header>
        {% include 'layout/partial/header.html' %}
    </header>
   
    {% block body  %}


<div class="container-fluid pt-4 px-4">
            
                
                        <div class="bg-light rounded h-100 p-4">
                          <div class="sidebar"style=" margin-top: 71px">
                            <div class="dropdown">
                              <button class="mainmenubtn">Agriculture</button>
                              <div class="dropdown-child">
                                
                                <a href="{% url 'das:dimagroassu' %}">DimAgroAssurance</a>
                                <a href="{% url 'das:dimagrocul' %}">DimAgroCulture</a>
                                <a href="{% url 'das:dimagrofin' %}">DimAgroFinance</a>
                                <a href="{% url 'das:dimagroorg' %}">DimAgroOrganisation</a>
                                <a href="{% url 'das:dimagroprod' %}">DimAgroProduction</a>
                             
                               </div>
                            </div> 
                            <div class="dropdown">
                              <button class="mainmenubtn">Foncier</button>
                              <div class="dropdown-child">
                                
                                <a href="{% url 'das:dimagroassu' %}">DimAgroAssurance</a>
                                <a href="{% url 'das:dimagrocul' %}">DimAgroCulture</a>
                                <a href="{% url 'das:dimagrofin' %}">DimAgroFinance</a>
                                <a href="{% url 'das:dimagroorg' %}">DimAgroOrganisation</a>
                                <a href="{% url 'das:dimagroprod' %}">DimAgroProduction</a>
                             
                               </div>
                            </div>
                      
                            <div class="dropdown">
                              <button class="mainmenubtn">Peche</button>
                              <div class="dropdown-child">
                                
                                <a href="{% url 'das:dimagroassu' %}">DimAgroAssurance</a>
                                <a href="{% url 'das:dimagrocul' %}">DimAgroCulture</a>
                                <a href="{% url 'das:dimagrofin' %}">DimAgroFinance</a>
                                <a href="{% url 'das:dimagroorg' %}">DimAgroOrganisation</a>
                                <a href="{% url 'das:dimagroprod' %}">DimAgroProduction</a>
                             
                               </div>
                            </div> 
                      
                             
                            
                             <div class="dropdown">
                              <button class="mainmenubtn">Education</button>
                              <div class="dropdown-child">
                                
                                <a href="{% url 'das:dimagroassu' %}">DimAgroAssurance</a>
                                <a href="{% url 'das:dimagrocul' %}">DimAgroCulture</a>
                                <a href="{% url 'das:dimagrofin' %}">DimAgroFinance</a>
                                <a href="{% url 'das:dimagroorg' %}">DimAgroOrganisation</a>
                                <a href="{% url 'das:dimagroprod' %}">DimAgroProduction</a>
                             
                               </div>  
                                <div class="dropdown">
                                <button class="mainmenubtn">SANTE</button>
                                <div class="dropdown-child">
                                  
                                  <a href="{% url 'peche:dimpecart' %}">DimPecheArtisan</a>
                                  <a href="{% url 'peche:dimpecass' %}">DimPecheAssure</a>
                                  <a href="{% url 'peche:dimpecfin' %}">DimPecheFinance</a>
                                  <a href="{% url 'peche:dimpecec' %}">DimPecheCommerce</a>
                               
                                 </div>
                              </div>     
                                                                                
                                                                      
                                            
                         </div>
                              <div class="content" >
                                <h1>DimAgroAssurance</h1>
                                <form method="POST" class="post−form">
                                {% csrf_token %}
                                {{ form.as_p }}
                                <input type="submit" class="btn btn-primary" style= "background-color: green" value="login">
                                </form>
                              </div>
                            <canvas id="mt" style="width:100%;max-width:700px"></canvas>
                        </div>
             
  <style>
  body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding-top:70px;
    width: 200px;
    background-color: #258baf;
    position: fixed;
    height:100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: #ffffff;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  div.content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 1000px;
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  </style>

<script>
    var xValues = ["{{ stud.OffreuAssurance }}", "{{ stud.TypeAssurance }}", "{{ stud.CulturAssure }}", "{{ stud.NivPrime }}"];
    var yValues = [2020, 2021, 2022, 2023];
    var barColors = ["red", "green","blue","orange"];
    
    new Chart("myChart", {
      type: "bar",
      data: {
        labels: xValues,
        datasets: [{
          backgroundColor: barColors,
          data: yValues
        }]
      },
      options: {
        legend: {display: false},
        title: {
          display: true,
          text: "DimAgroAssurance"
        }
      }
    });
    </script> 
    
{% endblock %}



    <footer>
        {% include 'layout/partial/footer.html' %}
    </footer>
</body>